<launch>
    <!-- Modules ON/OFF flags -->
    <arg name="rviz" default="false"/>
    <arg name="sim" default="false"/>
    <arg name="slam" default="false"/>
    <arg name="navigation" default="true"/>
    <arg name="webserver" default="true"/>

    <!-- Arguments -->
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="world" default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="x_pos" default="1"/>
    <arg name="y_pos" default="-0.286"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="map_file" default="$(find twist)/maps/lfd_map.yaml"/>
    <arg name="move_forward_only" default="false"/>

    <group unless="$(arg sim)">
        <!-- Turtlebot -->
        <arg name="base"              default="$(env TURTLEBOT_BASE)"         doc="mobile base type [create, roomba]"/>
        <arg name="battery"           default="$(env TURTLEBOT_BATTERY)"      doc="kernel provided locatio for battery info, use /proc/acpi/battery/BAT0 in 2.6 or earlier kernels." />
        <arg name="stacks"            default="$(env TURTLEBOT_STACKS)"       doc="stack type displayed in visualisation/simulation [circles, hexagons]"/>
        <arg name="3d_sensor"         default="$(env TURTLEBOT_3D_SENSOR)"    doc="3d sensor types [kinect, asux_xtion_pro]"/>
        <arg name="simulation"        default="$(env TURTLEBOT_SIMULATION)"   doc="set flags to indicate this turtle is run in simulation mode."/>
        <arg name="serialport"        default="$(env TURTLEBOT_SERIAL_PORT)"  doc="used by create to configure the port it is connected on [/dev/ttyUSB0, /dev/ttyS0]"/>

        <param name="/use_sim_time" value="false"/>

        <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
            <arg name="base" value="$(arg base)" />
            <arg name="stacks" value="$(arg stacks)" />
            <arg name="3d_sensor" value="$(arg 3d_sensor)" />
        </include>
        <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
            <arg name="base" value="$(arg base)" />
            <arg name="serialport" value="$(arg serialport)" />
        </include>
        <include unless="$(eval arg('battery') == 'None')" file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
            <arg name="battery" value="$(arg battery)" />
        </include>

        <!-- 3D sensor -->
        <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
            <arg name="rgb_processing" value="false" />
            <arg name="depth_registration" value="false" />
            <arg name="depth_processing" value="false" />
    
             <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
            Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
            <arg name="scan_topic" value="/scan" />
        </include>
    
        <!-- Map server -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

        <!-- AMCL -->
        <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/>
        <arg name="initial_pose_x" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
        <arg name="initial_pose_y" default="0.0"/> <!-- Use 17.0 for willow's map in simulation -->
        <arg name="initial_pose_a" default="0.0"/>
        <include file="$(arg custom_amcl_launch_file)">
            <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
            <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
            <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
        </include>
    
        <!-- Move base -->
        <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/$(arg 3d_sensor)_costmap_params.yaml"/>
        <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
             <arg name="custom_param_file" value="$(arg custom_param_file)"/>
        </include>
    
    </group>

    <!-- If webserver enabled -->
    <group if="$(arg webserver)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    </group>

    <!-- TWIST node bring-up -->
    <node pkg="twist" type="Application" required="true" output="screen" name="twist"></node>
</launch>



